@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Para denunciar um local provável de foco do mosquito Aedes Aegypti, acesso o sistema.</p>
<p>@ViewData["email"]</p>